<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/header/HomePage.css}" rel="stylesheet" />
<!--    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->
</head>
<body>



<div class="box">

    <div class="header">
        <h1 th:text="${headerText}" class="text"/>

        <div class="successModal">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add new success modal</button>
        </div>


    </div>



    <div class="componentGrid">
        <div class="componentBox">

            <div class="card text-white bg-success mb-3" style="max-width: 20rem; min-width: 20rem" th:each="cardTemplateInfomation: ${positiveCardTemplates}">
                <div class="card-header" th:text="${cardTemplateInfomation.headerText}"/>
                <div class="card-body">
                    <p class="card-text" th:text="${cardTemplateInfomation.bodyText}"/>
                </div>
                <a href="#" th:href="@{/DeleteCardTemplate(uuidOfCardTemplateToDelete=${cardTemplateInfomation.uuid})}">CLick me</a>
            </div>

        </div>



    </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">New success message</h4>
            </div>
            <div class="modal-body">
                <form th:object="${positiveCardTemplate}" th:action="@{/AddCardTemplate}" method="post" action="#">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Enter header text:</label>
                        <input type="text" class="form-control" id="recipient-name" th:field="*{headerText}">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Enter body text:</label>
                        <textarea class="form-control" id="message-text" th:field="*{bodyText}"></textarea>
                    </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add message</button>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>